.root {
  width: 1250px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.icon {
  //width: 50%;
  //display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
}